header { border: 2px solid red; padding: 10px; } -- Estilo para el encabezado --

nav { border: 2px solid green; padding: 5px; }-- Estilo para la barra de navegación --

main { border: 2px solid purple; padding: 10px; display: flex; justify-content: space-between; } -- Estilo para el contenido principal --

section { border: 2px solid blue; padding: 10px; width: 70%; } -- Estilo para la sección principal --

article { border: 1px solid cyan; margin-bottom: 15px; padding: 10px; } -- Estilo para los artículos de películas --

aside { border: 2px solid orange; padding: 10px; width: 25%; } -- Estilo para la barra lateral --

footer { border: 2px solid brown; padding: 10px; margin-top: 10px; } -- Estilo para el pie de página --

body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
} -- Estilo general para el cuerpo --

h1, h2, h3, h4 {
    margin: 5px 0;
} -- Estilo para los encabezados --

a {
    color: purple;
    text-decoration: none;
} -- Estilo para los enlaces --

a:hover {
    text-decoration: underline;
} -- Estilo para los enlaces al pasar el cursor --

figure {
    text-align: center;
} 
